@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Error</title>
    </head>
    <body>
        <p>
            Error: la persona con dicho DNI ya fue ingresada
        </p>
        <a href="/Home/Index">Volver</a>
    </body>
</html>